<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{location.name}}
            <button class="btn btn-xs btn-info pull-right"
                    ng-click="location.edit()"><span
                    class="glyphicon glyphicon-edit"></span> Muokkaa
            </button>
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">

            <stop-component ng-repeat="stop in location.stops"
                            stopid="{{stop.gtfsId}}"
                            on-delete="location.deleteStop(stopid)"></stop-component>
        </div>
    </div>
</div>