<div class="container" ng-hide="!find.search">
    <div class=" panel panel-default">
        <div class="panel-heading" >
            <h2 class="panel-title">Hae pysäkkiä<button  class="btn btn-xs btn-danger pull-right"type="button" ng-click="find.cancel()">X</button></h2>
        </div>
        <div class="panel-body">
    <div class="col-lg-5">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nimi <span class="small">(numero)</span></th>
            <th>Kuvaus</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stop in find.stops" ng-click="find.stopSchedule(stop.gtfsId)" ng-class="{info : find.selected === stop.gtfsId }">
            <td>{{stop.name}} <span class="small">({{stop.code}})</span></td>
            <td>{{stop.desc}}</td>
            <td><a href="#">Näytä aikataulu</a></td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="col-lg-7" ng-hide="find.selected === ''">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>{{find.selectedName}}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stoptime in find.stoptimes | limitTo : 10" ng-click="find.stopSchedule(stop.gtfsId)">
                <td>{{stoptime.trip.route.type}}</td>
                <td>{{stoptime.trip.route.shortName}}</td>
                <td>{{stoptime.trip.tripHeadsign}}</td>
                <td>{{stoptime.realtimeArrival | secondsToTime}}</td>
            </tr>
            </tbody>
        </table>
        <form class="form-inline" ng-submit="find.addStopToLocation()" ng-hide="!loginStatus">
            <div class="form-group">
                <select class="form-control" id="sel1" ng-model="find.SelectedList" required>
                    <option disabled selected value>Valitse lista</option>
                    <option ng-repeat="location in find.locations">{{location.name}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Lisää listalle</button>
            </form>
        </div>
        </div>
    </div>
</div>