<div class="container">
    <div class="col-lg-5">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nimi</th>
            <th>Kuvaus</th>
            <th>Numero</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stop in find.stops" ng-click="find.stopSchedule(stop.gtfsId)" ng-class="{success : find.selected === stop.gtfsId }">
            <td>{{stop.name}}</td>
            <td>{{stop.desc}}</td>
            <td>{{stop.code}}</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="col-lg-5">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Nimi</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stoptime in find.stoptimes | limitTo : 10" ng-click="find.stopSchedule(stop.gtfsId)">
                <td>{{stoptime.trip.route.type}}</td>
                <td>{{stoptime.trip.route.shortName}}</td>
                <td>{{stoptime.trip.tripHeadsign}}</td>
                <td>{{stoptime.realtimeArrival | secondsToTime}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>