<div class="container">
    <div class="col-lg-5">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nimi <span class="small">(numero)</span></th>
            <th>Kuvaus</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stop in find.stops" ng-click="find.stopSchedule(stop.gtfsId)" ng-class="{primary : find.selected === stop.gtfsId }">
            <td>{{stop.name}} <span class="small">({{stop.code}})</span></td>
            <td>{{stop.desc}}</td>
            <td><a href="#">Näytä aikataulu</a></td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="col-lg-7" ng-hide="find.selected === ''">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>{{find.selectedName}}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stoptime in find.stoptimes | limitTo : 10" ng-click="find.stopSchedule(stop.gtfsId)">
                <td>{{stoptime.trip.route.type}}</td>
                <td>{{stoptime.trip.route.shortName}}</td>
                <td>{{stoptime.trip.tripHeadsign}}</td>
                <td>{{stoptime.realtimeArrival | secondsToTime}}</td>
            </tr>
            </tbody>
        </table>
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Lisää listalle</button>
            </form>
        </div>

</div>